/*default property for the whole webpage*/
* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}

body {
    max-width: 1200px;
}

.yellow-header {
    background-color: #c78c06;
    height: 180px;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    
}

.logo {
    margin-top: 20px;
}

header {
    background-color: #222;
    color: #c78c06;
    position: relative;
    width: 100%;
    height: 500px;
}

body nav>ul{
    list-style-type: none;
    font-size: 22px;
    color: #c78c06;
  }

nav {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav li:first-child a{
    color: black;
}

.search {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;   
}

nav a{
    text-decoration: none;
    color: #c78c06;
}
nav ul li{
    margin-bottom: 30px;
    text-align: center;
  }

nav li:hover a {
    color:white;
  }


.search-bar {
    flex: 1;
    height: 40px; 
    font-size: 20px;
}

/*HTML & CSS Full Course - Beginner to Pro- SuperSimpleDev, youtube*/
/*https://www.w3schools.com/cssref/tryit.php?filename=trycss3_placeholder select placeholder*/
.search-bar::placeholder {
    font-family: Open-Sans, sans-serif;
    font-size: 20px;
    padding-left: 5px;
}

.search-button {
    width: 40px;
    height: 40px;
    border: #c78c06 solid 2px;
    background-color: #222
}

.search-button i{
    color:#c78c06;
    font-size: 25px;
}

/*********************WELCOME SECTION*******************/
.welcome-section {
    position: relative;
    display: flex; 
}

.welcome-banner {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

.black-block {
    margin: 9% 0;
    width: 100%;
    background-color: #222222b6;
    padding:15px;
}

.black-block h1 {
    font-size: 60px;
    color: white;
    margin-top: 30px;
    margin-left: 15px;
}

.black-block p{
    color: white;
    margin: 15px;
    font-size: 13px;
}

.connect-button {
    background-color: #c78c06;
    width: 200px;
    height: 80px;
    margin-left: 15px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding: 0px 20px; /*the left/right paddings bring the fa icon closer*/
}

.connect-button a{
    text-decoration: none;
    color: #222;
}

/*********************ABOUT US SECTION*******************/
.about-us {
    background-color:#ffe6ac;
    display: flex;
    flex-direction: column;

}

.about-us img{
    margin: 15px;
}

.about-us p {
    margin: 15px 15px 25px 15px;
    font-size: 13px;
}

.about-us h1 {
    font-size: 35px;
    margin-left: 15px;
}

/*********************WRAPPER FOR BLEEDS*******************/

.wrapper {
    width: 96%;
    margin: 0 auto;
}

/*********************OUR SERVICES SECTION*******************/
.services {
    background-color: white;
    display: flex;
    flex-direction: column; /*added column, becuase it was row by the default*/
}

.services h1 {
    margin: 35px 0px 15px 0px;
    font-size: 35px;
    color: black;
}


.services-img {
    width: 100%;
    height: auto;
}

.services-background {
    background-color: #ffe6ac;
    padding: 20px 15px 15px 15px;
}

.services-background h3 {
    margin: 0 0 15px 0;
    font-size: 35px;
}

.services-background p {
    margin: 0 0 15px 0;
    font-size: 13px;
}

.digital-button {
    width: 200px;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 15px; /*added paddings to bring fa icon closer to the*/
}

.digital-button a {
    color: white;
    text-decoration: none;
}
.digital-button i{
    color: white;
}

/*********************MARKETING SECTION*******************/
.marketing {
    background-color: #ffe6ac;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.marketing img {
    width: 100%;
    height: auto;
}

.marketing-background {
    background-color: #ffe6ac;
    padding: 20px 15px 15px 15px;
}
.marketing h3 {
    font-size: 35px;
    margin-bottom: 15px;
}

.marketing p {
    margin: 0 0 15px 0;
    font-size: 13px;
}

.markering-button {
    width: 200px;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10px;
}

.markering-button a {
    color: white;
    text-decoration: none;
}
.markering-button i{
    color: white;
}

/*********************VIDEO PRODUCTION SECTION*******************/

.video {
    background-color: #ffe6ac;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.video img {
    width: 100%;
    height: auto;
}

.video-background {
    background-color: #ffe6ac;
    padding: 20px 15px 15px 15px;
}
.video h3 {
    font-size: 35px;
    margin-bottom: 15px;
}

.video p {
    margin: 0 0 15px 0;
    font-size: 13px;
}

.video-button {
    width: 200px;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
}

.video-button a {
    color: white;
    text-decoration: none;
}
.video-button i{
    color: white;
}

/*********************WEB DEV SECTION*******************/

.web {
    background-color: #ffe6ac;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.web img {
    width: 100%;
    height: auto;
}

.web-background {
    background-color: #ffe6ac;
    padding: 20px 15px 15px 15px;
}
.webh3 {
    font-size: 35px;
    margin-bottom: 15px;
}

.web p {
    margin: 0 0 15px 0;
    font-size: 13px;
}

.web-button {
    width: 200px;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
}

.web-button a {
    color: white;
    text-decoration: none;
}
.web-button i{
    color: white;
}

/*********************PRINT SECTION*******************/

.print {
    background-color: #ffe6ac;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.print img {
    width: 100%;
    height: auto;
}

.print-background {
    background-color: #ffe6ac;
    padding: 20px 15px 15px 15px;
}
.print h3 {
    font-size: 35px;
    margin-bottom: 15px;
}

.print p {
    margin: 0 0 15px 0;
    font-size: 13px;
}

.print-button {
    width: 200px;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
}

.print-button a {
    color: white;
    text-decoration: none;
}
.print-button i{
    color: white;
}